# https://dev.sodadata.io/ -> SSO -> organization: soda-sso-okta
SODA_CLOUD_HOST=dev.sodadata.io
# To get credentials:
#   1) https://dev.sodadata.io/ -> avatar in top right corner -> Profile -> API keys
#   2) Test if you have permissions. By default it should.  If not, ask around.
SODA_CLOUD_API_KEY_ID=
SODA_CLOUD_API_KEY_SECRET=
