./soda/core
./soda/postgres
./soda/bigquery
./soda/snowflake
./soda/redshift
./soda/athena
./soda/spark[hive]
./soda/spark[odbc]
./soda/spark[databricks]
./soda/spark_df
./soda/scientific
./soda/sqlserver
./soda/mysql
./soda/duckdb
