./core
./packages/athena
./packages/bigquery
./packages/hive
./packages/postgresql
./packages/mysql
./packages/redshift
./packages/snowflake
./packages/sqlserver
./packages/spark

PyYAML~=5.4.1
setuptools~=49.2.1
boto3~=1.18.14
botocore~=1.21.14
