click==7.1.2
pyyaml==5.3.1
Jinja2==2.11.2
snowflake-connector-python==2.4.0
psycopg2-binary==2.8.5
PyAthena==1.10.7
google-cloud-bigquery==2.5.0
cryptography==3.3.2
pyodbc==4.0.30
PyHive==0.6.3
thrift==0.13.0
thrift-sasl==0.4.2
sasl==0.2.1
