[version]
current = "4.0.10rc0"

regex = '''
  (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.)?((?P<prerelease>[a-z,0-9]+)(?P<build>\d+))?
  '''

[git]
message_template = "Bump to {new_version}"
tag_template = "v{new_version}"

[[file]]
src = "soda-core/src/soda_core/__version__.py"
search = 'SODA_CORE_VERSION = "{current_version}"'

[[file]]
src = "pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-core/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-postgres/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-snowflake/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-databricks/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-tests/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-duckdb/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-bigquery/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-sqlserver/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-synapse/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-fabric/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-athena/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-redshift/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-sparkdf/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[file]]
src = "soda-trino/pyproject.toml"
search = 'version = "{current_version}"|soda-.*=={current_version}'

[[after_push]]
name = "Create Github Release"
cmd = "if ! [ -x \"$(command -v gh)\" ]; then echo 'GH CLI not installed, please create a Github Release manually!'; else gh release create v{new_version} --generate-notes --verify-tag; fi"

[[before_commit]]
name = "Update uv lock file"
cmd = "uv lock"