# .env is personal and is in the .gitignore

# This file contains examples and descriptions for environment variables
# that can be set to customize test suite execution

# if you want to run local/sql tests on another database than the postgres container,
# use SODA_TEST_PROFILE and SODA_TEST_TARGET env vars to select the profile properties in ~/.soda/profiles.yml
# "test" is the default profile used in the tests
# "local_postgres" is the default target used in the tests

export SODA_TEST_PROFILE=test
export SODA_TEST_TARGET=redshift
