# .env is personal and is in the .gitignore

# This file contains examples and descriptions for environment variables
# that can be set to customize test suite execution

# if you want to run local/sql tests on another database than the postgres container, specify these two env vars
export PROFILE=test
export TARGET=redshift
