@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('https://uploads-ssl.webflow.com/5cdb255abc2719f0c11a46e8/5f5fb595b3b1613158762837_a14594bf-73de-4b5f-9792-9566994a021d.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5cdb255abc2719f0c11a46e8/5f5fb5952bae25316402e296_bb4a10bb-155d-4c1a-a813-c65e10fac36c.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Neue Haas Grotesk Display';
  src: url('https://uploads-ssl.webflow.com/5cdb255abc2719f0c11a46e8/5f5fb338a28afa26307a8fc3_34ae0cd2-c49c-4df4-8270-fcda21c1b715.woff2') format('woff2'), url('https://uploads-ssl.webflow.com/5cdb255abc2719f0c11a46e8/5f5fb33980c2ce7a7e4ee571_9e666926-4bc9-4013-849e-dffa25a41dbd.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

$body-font-family: 'Neue Haas Grotesk Display', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, "Helvetica Neue", Arial, sans-serif;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace;

$content-width: 800px;

$link-color: #42b983;
$sidebar-color: #F5F7F7;

$feedback-color: darken($sidebar-color, 2%);

$code-background-color: #F8F9F9;


$font-size-8: 32px; //h1
$font-size-9: 32px;
$font-size-10: 32px;
$font-size-10-sm: 32px;


.site-nav ul {
  list-style-type: none;
}

.site-footer {
  display: none !important;
}

@media (min-width: 66.5rem) {
  .side-bar {
    width: 264px !important;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: 500 !important;
  color: #4B4D4D !important;
}

b, strong {
  font-weight: 600 !important;
  color: #000;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600 !important; color: #000000 !important; }


.main-content h1 {
  margin-top: 0.75em !important;
  margin-bottom: 0.75em !important;
}

.main-content h2 {
  margin-bottom: 0.75em !important;
}


.main-content h3 {
  margin-top: 1.5em !important;
  margin-bottom: 1em !important;
}



.site-logo {
  max-height: 16px;
}

// body {
//       font-family: 'Neue Haas Grotesk Display', sans-serif;
//       font-weight: 500;
//       color: #4B4D4D;
//     }

//     h1, h2, h3, h4, h5, h6 {
//       color: #000;
//     }



// -webkit-font-smoothing: antialiased;
//     margin-top: 0.5rem;
//     font-weight: 600;
//     font-size: 2rem !important;
// }
